<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-note-sticky px-2"></i>Notes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li *ngIf="!_AuthenticationService.isLoggedIn()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            logIn
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/signIn" routerLinkActive="bg-success">signIn</a></li>
            <li><a class="dropdown-item" routerLink="/signUp"routerLinkActive="bg-success">signUp</a></li>
          </ul>
        </li>
        <li *ngIf="_AuthenticationService.isLoggedIn()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            logOut
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item"  (click)="logout()">logOut</a></li>

          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>
